/*默认格式*/

html {
	background-color: #eaecf1;
	color: #444;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
th,
td,
button {
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \65B0\5B8B\4F53
}

li {
	list-style: none;
}

.blank {
	clear: both;
	overflow: hidden;
	display: block;
	font-size: 0;
	line-height: 0;
}

.h15 {
	height: 15px;
}

.h30 {
	height: 30px;
}

.h40 {
	height: 40px;
}

*:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: #444;
	font-size: 12px;
}

a:visited {
	color: #444;
}

a:hover {
	text-decoration: underline;
	color: #444;
}

.pl15 {
	padding-left: 15px;
}

.f12 {
	font-size: 12px;
}

.area {
	margin: 0 auto;
	width: 1200px;
}

.down_btn,
.down_btn:hover,
.down_link,
.icon01,
.down_link li a:hover {
	background: url(../img/icon01.jpg) no-repeat;
}

.icons,
.con_tit_more .ico_pic,
.article_list li span,
.server_box .i_icon,
.school_star span,
.tr_menu li span,
#slides .pagination li a {
	background: url(../img/icon.png) no-repeat;
}

.tese_html {
	width: 100%;
	height: 2200px;
	background: url(../img/bg.jpg) center top no-repeat;
}

.container_wrap {
	position: relative;
	z-index: 10;
}

.head {
	height: 555px;
}

.menu {
	overflow: hidden;
	width: 100%;
	height: 72px;
}

.menu ul {
	width: 110%;
}

.menu ul li {
	width: 100px;
	float: left;
}

.menu li a,
menu li a:visited {
	display: block;
	height: 72px;
	font-weight: 700;
	line-height: 72px;
	text-decoration: none;
	font-size: 18px;
	color: #252626;
}

.menu li a:hover {
	text-decoration: underline;
}

.menu .m01 {
	padding-left: 35px;
}

.menu .m02 {
	padding-left: 7px;
}

.menu .m03 {
	padding-left: 17px;
}

.menu .m04 {
	padding-left: 18px;
}

.menu .m05 {
	padding-left: 268px;
}

.menu .m06 {
	padding-left: 1px;
}

.menu .m07 {
	padding-left: 2px;
}

.menu .m08 {
	padding-left: 1px;
}

.head_pr {
	position: relative;
	width: 100%;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.head_logo {
	position: absolute;
	display: block;
	left: 483px;
	top: -48px;
}


/*container部分*/

.con_left {
	float: left;
	margin-right: 15px;
	width: 290px;
}

.con_mid {
	float: left;
	width: 590px;
}

.con_right {
	float: right;
	width: 290px;
}

.con_title {
	width: 100%;
	height: 30px;
	border-bottom: #eaeaec solid 1px;
}

.con_title ul {
	position: relative;
	float: left;
	bottom: -1px;
	height: 30px;
}

.con_title li {
	float: left;
	width: 74px;
	font-size: 16px;
	color: #5e5e5e;
}

.con_title li a {
	display: block;
	height: 29px;
	line-height: 18px;
	text-align: center;
}

.con_title li a.default {
	cursor: default;
}

.con_title li .line {
	display: block;
	width: 0px;
	font-size: 0;
	line-height: 0;
	height: 2px;
	margin: 0 auto;
	background-color: #e86656;
	transition: all 0.2s linear 0s;
}

.con_title li.thistab .line {
	width: 100%;
	background-color: #e86656;
}

.con_title li.thistab a,
.con_title li.thistab a:visited {
	color: #e86656;
}

.con_title li a:hover {
	text-decoration: none;
}

.con_tit_more {
	float: right;
	padding: 3px 0 0;
	width: 40px;
	height: 26px;
}

.con_tit_more .ico_more {
	position: relative;
	display: block;
	margin: 4px 0 0;
	float: right;
	width: 9px;
	height: 9px;
	border: #969696 solid 1px;
}

.con_tit_more .ico_pic {
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	background-position: 1px 1px;
	z-index: 12;
}

.article_list {
	position: relative;
	width: 100%;
}

.article_list ul {
	display: block;
}

.article_list li {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
}

.article_list li span {
	float: left;
	margin: 9px 9px 0 0;
	display: block;
	width: 9px;
	height: 15px;
	background-position: left -22px;
}

#container {
	position: relative;
	width: 590px;
	height: 265px;
	z-index: 2;
}

#slides {
	position: absolute;
	top: 0;
	left: 0;
	width: 590px;
	z-index: 100
}

#slides .next,
#slides .prev {
	display: none;
	position: absolute;
	top: 87px;
	left: -39px;
	width: 24px;
	height: 43px;
	z-index: 101;
}

.slides_container {
	width: 590px;
	height: 265px;
	overflow: hidden;
	position: relative;
	z-index: -1
}
.slides_control {
	width: 3540px;
	height: 265px;
	overflow: hidden;
	float: left;
	position: relative;
}
.slides_control img {
	position: absolute;
	left: 590px;
	top: 0;
}
.slides_control .first{
	position: absolute;
	left: 0;
	top: 0;
}
.slides_container img {
	width: 590px;
	height: 265px;
}

#slides .pagination {
	display: block;
	position: absolute;
	margin: 0;
	right: 10px;
	bottom: 10px;
	padding: 0;
	background: none;
	width: 200px;
	height: 17px;
	text-align: right;
}

#slides .pagination li {
	margin: 0 5px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 15px;
}

#slides .pagination li a {
	float: left;
	overflow: hidden;
	margin: 0 1px;
	display: block;
	width: 16px;
	height: 15px;
	padding: 0;
	background-position: -122px -77px;
	text-indent: -9999em;
	line-height: 100px;
}

#slides .pagination li.current a {
	width: 16px;
	background-position: -96px -77px;
}

#container2 {
	position: relative;
	width: 280px;
	height: 170px;
	z-index: 2;
}

#slides2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	z-index: 100
}

#slides2 .next,
#slides2 .prev {
	display: none;
}

#slides2 .slides_container {
	width: 280px;
	height: 170px;
	overflow: hidden;
	position: relative;
	z-index: -1
}

#slides2 .slides_container img {
	width: 280px;
	height: 170px;
}

#slides2 .pagination {
	display: block;
	position: absolute;
	margin: 0;
	right: 5px;
	bottom: 5px;
	padding: 0;
	background: none;
	width: 140px;
	height: 17px;
	text-align: right;
}

#slides2 .pagination li {
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 15px;
}

#slides2 .pagination li a {
	float: left;
	overflow: hidden;
	margin: 0 4px;
	display: block;
	padding: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	line-height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

#slides2 .pagination li.current a {
	background-color: #28ffd3;
}

.caption {
	position: absolute;
	bottom: -35px;
	height: 30px;
	padding: 5px 20px 0 20px;
	background: #000;
	background: rgba(0, 0, 0, .5);
	width: 540px;
	font-size: 1.3em;
	line-height: 1.33;
	color: #fff;
	border-top: 1px solid #000;
	text-shadow: none;
}

.con_tit_more .mowrap {
	position: absolute;
	overflow: hidden;
	display: block;
	display: none \9;
	width: 13px;
	height: 7.5px;
	z-index: 10;
}

.con_tit_more .mowrap_t {
	top: -3px;
	left: -2px;
}

.con_tit_more .mowrap_t .block {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.con_tit_more .mowrap_b {
	top: 4.5px;
	left: -2px;
}

.con_tit_more .mowrap_b .block {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all 0.2s linear 0.2s;
	-moz-transition: all 0.2s linear 0.2s;
	-o-transition: all 0.2s linear 0.2s;
	-ms-transition: all 0.2s linear 0.2s;
	transition: all 0.2s linear 0.2s;
}

.con_tit_more .block {
	display: block;
	width: 13px;
	height: 7.5px;
	background-color: #fff;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.con_tit_more:hover {
	border-color: #cba950 \9;
}

.con_tit_more:hover .mowrap_t .block {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.con_tit_more:hover .mowrap_b .block {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.download {
	height: 265px;
}

.down_m_info {
	overflow: hidden;
	width: 100%;
}

.down_m_info ul {
	width: 120%;
}

.down_m_info li {
	float: left;
	display: block;
	width: 430px;
}

.down_m_info li h3 {
	font: 400 20px/42px \5FAE\8F6F\96C5\9ED1;
}

.down_m_info li .text span {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	color: #666;
}

.down_btn {
	display: block;
	width: 100%;
	height: 175px;
}

.down_btn:hover {
	display: block;
	height: 175px;
	background-position: left -175px;
}

.down_link {
	overflow: hidden;
	width: 100%;
	height: 90px;
	background-position: left -352px;
}

.down_link ul {
	margin: 0 0;
	display: block;
	width: 100%;
}

.down_link li {
	left: 0;
	float: left;
	width: 145px;
	height: 88px;
}

.down_link li span {
	display: block;
	margin: 0 auto;
	width: 44px;
	height: 38px;
}

.down_link li p {
	margin: 0;
	padding: 55px 0 0;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #ffd2c5;
	text-align: center;
}

.down_link li a {
	display: block;
	height: 88px;
}

.down_link li a:hover {
	display: block;
	height: 88px;
	text-decoration: none;
}

.down_link li a.dl01:hover {
	background-position: left -902px;
}

.down_link li a.dl02:hover {
	background-position: -145px -902px;
}

.con_o_r {
	padding: 15px 15px 0;
	overflow: hidden;
	width: 260px;
	height: 250px;
	background: #fff;
}

.con_o_r_pic {
	padding: 12px 0;
}

.con_o_r_h3 {
	padding: 0 0 10px;
	margin: 0;
	border-bottom: #cececf dotted 1px;
	font-size: 18px;
	line-height: 20px;
	color: #137c75;
	text-align: center;
}

.con_o_r_h3 a,
.con_o_r_h3 a:visited {
	color: #137c75;
}

.con_o_r_list {
	padding: 5px 0 0 10px;
	width: 248px;
}

.con_o_r_list .article_list ul {
	width: 270px;
}

.con_o_r_list .article_list li {
	float: left;
	width: 130px;
}

.con_o_r_list .article_list li a {
	font-size: 14px;
}


/*con two开始*/

.rig_video {
	cursor: pointer;
}

.feature {
	height: 265px;
	background-position: left -449px;
}

.feature .article_list ul {
	padding: 62px 0 0 24px;
}

.feature .article_list li span {
	background: url(../img/icon1229.png) no-repeat;
	background-position: 0 0;
}

.feature a {
	color: #f9ffb9;
	font-size: 14px;
}

.feature_more {
	float: left;
	margin: 6px 0 0 24px;
	border: #dcc987 solid 1px;
	height: 22px;
	line-height: 22px;
}

.feature_more a {
	display: block;
	padding: 0 8px;
}

.feature_more a,
.feature_more a:visited {
	color: #dcc987;
	font-size: 12px;
}

.feature_more a:hover {
	display: block;
	height: 22px;
	background-color: #dcc987;
	color: #000;
	text-decoration: none;
}


.news_list {
	padding: 15px 15px 0;
	overflow: hidden;
	width: 560px;
	height: 250px;
	background-color: #fff;
}

.slide_wrap {
	padding: 8px 0;
	position: relative;
	width: 100%;
	*overflow: hidden;
	*height: 190px;
}

.slide_wrap .news_box {
	padding: 0;
}

.slide_wrap .news_box .news_box_focus{
	float: left;
	width: 2950px;
	overflow: hidden;
}
.news_box_focus {
	width: 2950px;
	height: 265px;
	overflow: hidden;
	float: left;
	position: relative;
}
.news_box_focus div {
	position: absolute;
	left: 590px;
	top: 0;
}
.news_box_focus .thistab{
	position: absolute;
	left: 0;
	top: 0;
}

.slide_wrap .slide_box {
	position: absolute;
	left: 0;
	top: 6px;
	width: 100000em;
}

.news_box {
	padding: 8px 0;
	width: 100%;
}

.news_box li {
	border-bottom: #cececf dotted 1px;
	line-height: 32px;
	height: 32px;
}

.news_box li span {
	margin-top: 11px;
}

.news_box li em,
.news_web_list li em {
	float: right;
	color: #9b9b9b;
}

.news_box .con_tit_more {
	position: absolute;
	display: block;
	top: -34px;
	right: 0;
}

.con_t_r {
	position: relative;
	overflow: hidden;
	height: 265px;
}

.con_t_r img {
	display: block;
}

.con_gg01 {
	display: block;
	padding: 0 0 15px;
}


/*con three start*/

.server,
.school {
	padding: 15px 0 0;
	height: 420px;
	background-color: #fff;
}

.server {
	overflow: hidden;
	width: 290px;
}

.server_box {
	overflow: hidden;
	padding: 0 15px 0;
	width: 260px;
	height: 122px;
}

.server_box .con_title li {
	width: 92px;
}

.ser_box_focus {
	position: absolute;
}

.server_box .article_list {
	margin: 10px 0;
}

.server_box .article_list li {
	height: 24px;
	line-height: 24px;
}

.server_box .article_list li span {
	margin-top: 6px;
}

.server_box li .fr {
	display: block;
	width: 112px;
	text-align: right;
}

.server_box li .i_icon {
	float: right;
	display: block;
	margin: 3px 0 0 6px;
	_display: inline;
	width: 23px;
	height: 19px;
	background-position: left -78px;
	text-indent: 6px;
	line-height: 19px;
	color: #007e24;
	font-style: normal;
	text-align: left;
}

.server_box li .i_hot {
	color: #ed4800;
}

.server_scroll {
	overflow: hidden;
	height: 75px;
}

.server_more {
	margin: 0 auto;
	width: 162px;
	border: #7e8b9b solid 1px;
	height: 26px;
	font-size: 14px;
	color: #7e8b9b;
	line-height: 26px;
	text-align: center;
}

.server_more a,
.server_more a:visited {
	color: #7e8b9b;
}

.server_more a:hover {
	display: block;
	height: 26px;
	background-color: #7e8b9b;
	color: #fff;
	text-decoration: none;
}

.wei_box {
	position: relative;
}

.weibo_l {
	position: absolute;
	left: 0;
	bottom: 84px;
	width: 290px;
	height: 195px;
	background-color: #fff;
	overflow: hidden;
	border-top: #e9e9e9 solid 1px;
	z-index: 2;
}

.weixin_l {
	position: absolute;
	left: 0;
	bottom: 84px;
	width: 282px;
	height: 162px;
	background-position: left -719px;
	z-index: 2;
}

.wei_menu {
	margin: 15px 0 0;
	position: relative;
	width: 100%;
	height: 255px;
}

.school .con_title li {
	width: 43px;
}

.school_menu {
	padding: 0 0 0 15px;
	width: 562px;
}

.school_menu .con_title li a {
	font-size: 14px;
}

.school_wrap {
	position: relative;
	overflow: hidden;
	width: 590px;
	height: 390px;
}

.school_info,
.school_img {
	position: absolute;
	top: 0;
	width: 590px;
	height: 390px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	transition: all 0.6s ease 0s;
	z-index: 10;
}

.school_info {
	left: -590px;
}

.sch_active .school_info,
.sch_active .school_img {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.sch_active .school_info {
	left: 0;
	z-index: 13;
}

.sch_active .school_img {
	right: 0;
	z-index: 12;
}

.sch_active {
	z-index: 3;
}

.school_img01 {
	background: url(../img/changge.jpg) no-repeat;
}

.school_img02 {
	background: url(../img/cangyun.jpg) no-repeat;
}

.school_img03 {
	background: url(../img/gaibang.jpg) no-repeat;
}

.school_img04 {
	background: url(../img/chunyang.jpg) no-repeat;
}

.school_img05 {
	background: url(../img/cangjian.jpg) no-repeat;
}

.school_img06 {
	background: url(../img/shaolin.jpg) no-repeat;
}

.school_img07 {
	background: url(../img/wudu.jpg) no-repeat;
}

.school_img08 {
	background: url(../img/tiance.jpg) no-repeat;
}

.school_img09 {
	background: url(../img/tangmen.jpg) no-repeat;
}

.school_img010 {
	background: url(../img/qixiu.jpg) no-repeat;
}

.school_img011 {
	background: url(../img/mingjiao.jpg) no-repeat;
}

.school_img012 {
	background: url(../img/wanhua.jpg) no-repeat;
}

.school_img013 {
	background: url(../img/badao.jpg) no-repeat;
}

.school_img {
	position: absolute;
	right: -590px;
	bottom: 0;
	width: 590px;
	height: 390px;
	background-position: right bottom;
}

.school_tit {
	display: block;
	width: 245px;
	height: 70px;
	margin: 0px;
	color: black;
	text-indent: -9999px;
}

.school_h4 {
	padding: 10px 0 0 18px;
	font-size: 16px;
	color: #ED8578;
	margin: 0px;
}

.school_text {
	margin: 0;
	padding: 3px 0 0 18px;
	width: 288px;
	color: #666666;
	line-height: 18px;
	font-size: 14px;
}

.school_star {
	padding: 15px 0 10px 18px;
	overflow: hidden;
	width: 260px;
	height: 30px;
}

.school_star strong {
	display: block;
	float: left;
	font-size: 14px;
	color: #666;
}

.school_star span {
	display: block;
	float: left;
	margin-right: 3px;
	width: 13px;
	height: 22px;
	background-position: -156px -111px;
}

.school_star span.hlight {
	background-position: -130px -111px;
}

.sch_video,
.sch_video_no {
	padding: 1px;
	margin: 0 0 12px 18px;
	border: #e3e3e3 solid 1px;
	width: 275px;
	height: 130px;
	cursor: pointer;
}

.sch_video_no {
	cursor: default;
}

.sch_more {
	margin: 0 0 0 18px;
	width: 90px;
	border: #98a2af solid 1px;
	color: #98a2af;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
}

.sch_more a,
.sch_more a:visited {
	color: #98a2af;
}

.sch_more a:hover {
	display: block;
	height: 26px;
	background-color: #7e8b9b;
	color: #fff;
	text-decoration: none;
}

.school_in01 .school_tit {
	background: url(../img/t01.gif) no-repeat;
}

.school_in02 .school_tit {
	background: url(../img/t02.gif) no-repeat;
}

.school_in03 .school_tit {
	background: url(../img/t03.gif) no-repeat;
}

.school_in04 .school_tit {
	background: url(../img/t04.gif) no-repeat;
}

.school_in05 .school_tit {
	background: url(../img/t05.gif) no-repeat;
}

.school_in06 .school_tit {
	background: url(../img/t06.gif) no-repeat;
}

.school_in07 .school_tit {
	background: url(../img/t07.gif) no-repeat;
}

.school_in08 .school_tit {
	background: url(../img/t08.gif) no-repeat;
}

.school_in09 .school_tit {
	background: url(../img/t09.gif) no-repeat;
}

.school_in010 .school_tit {
	background: url(../img/t10.gif) no-repeat;
}

.school_in011 .school_tit {
	background: url(../img/t11.gif) no-repeat;
}

.school_in012 .school_tit {
	background: url(../img/t12.gif) no-repeat;
}

.school_in013 .school_tit {
	background: url(../img/badao.gif) no-repeat;
}

.school_info .school_tit {
	background-position: 15px 10px;
}

.tongren {
	overflow: hidden;
	padding: 5px 0 0;
	height: 430px;
	background-color: #fff;
}

.tr_slide {
	padding: 0 0 5px 5px;
	width: 280px;
	height: 170px;
}

.tr_menu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.tr_menu {
	display: inline-block;
}

*html .tr_menu {
	height: 1%;
	zoom: 1;
	font-size: 0;
	width: 100%;
	line-height: 0
}

.tr_menu {
	width: 100%;
}

.tr_menu ul {
	width: 120%;
}

.tr_menu li {
	float: left;
	width: 147px;
	height: 84px;
	/*margin: 24px 0 23px 0;*/
	border-right: #e9e9e9 solid 1px;
	border-top: #e9e9e9 solid 1px;
	line-height: 31px;
	color: #333;
}

.tr_menu li a {
	padding: 12px 11.5px 12px 11.5px;
	width: 124px;
	height: 60px;
	line-height: 61px;
}

.tr_menu li a,
.tr_menu li a:visited {
	display: block;
	height: 60px;
	color: #333;
	font-size: 15px;
}

.tr_menu li a:hover,
.tr_menu li.this_trm a {
	display: block;
	height: 60px;
	background-color: #53acb7;
	color: #fff;
	text-decoration: none;
}

.tr_menu li span {
	display: block;
	float: left;
	margin: 0 0 0 0;
	width: 35px;
	height: 31px;
}

.tr_menu li a .tr01 {
	background-position: -1px -170px
}

.tr_menu li a .tr02 {
	background-position: -39px -170px
}

.tr_menu li a .tr03 {
	background-position: -78px -170px
}

.tr_menu li a .tr04 {
	background-position: -117px -170px
}

.tr_menu li a .tr05 {
	background-position: -154px -170px
}

.tr_menu li a .tr06 {
	background-position: -191px -170px
}

.tr_menu li a .tr07 {
	background-position: -1px -233px
}

.tr_menu li a .tr08 {
	background-position: -39px -233px
}

.tr_menu li a .tr09 {
	background-position: -78px -233px
}

.tr_menu li a .tr10 {
	background-position: -117px -233px
}

.tr_menu li a .tr11 {
	background-position: -154px -233px
}

.tr_menu li a .tr12 {
	background-position: -191px -233px
}

.tr_menu li a:hover span.tr01 {
	background-position: -1px -202px
}

.tr_menu li a:hover span.tr02 {
	background-position: -39px -202px
}

.tr_menu li a:hover span.tr03 {
	background-position: -78px -202px
}

.tr_menu li a:hover span.tr04 {
	background-position: -117px -202px
}

.tr_menu li a:hover span.tr05 {
	background-position: -154px -202px
}

.tr_menu li a:hover span.tr06 {
	background-position: -191px -202px
}

.tr_menu li a:hover span.tr07 {
	background-position: -1px -265px
}

.tr_menu li a:hover span.tr08 {
	background-position: -39px -265px
}

.tr_menu li a:hover span.tr09 {
	background-position: -78px -265px
}

.tr_menu li a:hover span.tr10 {
	background-position: -117px -265px
}

.tr_menu li a:hover span.tr11,
.tr_menu li.this_trm span.tr11 {
	background-position: -154px -265px
}

.tr_menu li a:hover span.tr12,
.tr_menu li.this_trm span.tr12 {
	background-position: -191px -265px
}


/*con three end*/


/*con four start*/

.bbs,
.service {
	overflow: hidden;
	padding: 15px 15px 0;
	width: 260px;
	height: 215px;
	background-color: #fff;
}

.bbs_box,
.ser_box {
	position: relative;
	padding: 4px 0 0;
	width: 100%;
}

.bbs_box {
	overflow: hidden;
	height: 176px;
}

.bbs_box .con_title li {
	width: 78px;
}

.bbs_box .con_tit_more {
	position: absolute;
	right: 0;
	top: -30px;
}

.bbs_box .article_list {
	float: left;
	width: 260px;
}

.bbs_box .article_list li {
	line-height: 32px;
	height: 32px;
	border-bottom: #dadada dotted 1px;
}

.bbs_box .article_list li span {
	margin-top: 10px;
}

.media {
	height: 215px;
}

.media .news_box {
	padding: 4px 0 0;
}

.media .con_title li {
	width: 70px;
}

.ser_focus {
	margin: 10px 0 0;
	overflow: hidden;
	background-color: #f8f8f8;
	height: 32px;
	line-height: 32px;
	color: #343434;
}

.ser_focus span {
	display: block;
	float: left;
	width: 28px;
	height: 30px;
	background-position: -63px -68px;
}

.ser_text {
	margin: 0;
	height: 26px;
	line-height: 26px;
	color: #5c5c5c;
}

.ser_h3 {
	font-size: 22px;
	line-height: 28px;
	color: #000;
}

.ser_btn {
	overflow: hidden;
	padding: 11px 0 0;
	width: 100%;
}

.ser_btn a {
	display: block;
	float: left;
	margin-right: 16px;
	_display: inline;
	width: 112px;
	height: 26px;
	border: #7e8b9b solid 1px;
	line-height: 26px;
	text-align: center;
	color: #7e8b9b;
	font-size: 14px;
}

.ser_btn a:visited {
	color: #7e8b9b;
}

.ser_btn a.thistab,
.ser_btn a:hover {
	display: block;
	height: 26px;
	border: #7e8b9b solid 1px;
	background-color: #7e8b9b;
	color: #fff;
	text-decoration: none;
}

.ser_weixin {
	position: absolute;
	display: none;
	right: 5px;
	top: -1px;
	width: 132px;
	height: 130px;
	background-color: #fff;
	background-position: -153px -753px;
	border: #dadada solid 1px;
}

.ser_weixin span.icons {
	display: block;
	position: absolute;
	left: 48%;
	bottom: -7px;
	width: 11px;
	height: 7px;
	background-position: -183px -113px;
}


/*con four end*/

.zhibo-sidebar {
	overflow: hidden;
	padding: 15px 15px 0;
	width: 260px;
	height: 275px;
	background: #fff;
}

.zhibo-l-pic {
	width: 100%;
}

.zhibo-l-pic .imgbox {
	padding: 0 0 6px;
}

.zb-tr-list,
.gl-con {
	padding: 15px 15px 0;
	overflow: hidden;
	background: #fff;
	width: 560px;
	height: 275px;
}

.zb-tr-tit {
	height: 30px;
	width: 100%;
	border-bottom: #eaeaec solid 1px;
}

.zb-tr-tit ul {
	position: relative;
	float: left;
	bottom: -1px;
	height: 30px;
}

.zb-tr-tit li {
	float: left;
	width: 61px;
	font-size: 16px;
	color: #5e5e5e;
}

.zb-tr-tit li .line {
	display: block;
	margin: 0 auto;
	font-size: 0;
	line-height: 0;
	height: 2px;
}
.school_ul li .line{
	display: none;
}
.social_box li .line {
	display: none;
}
.thistab{
	display: block;
}

.zb-tr-tit li a {
	display: block;
	height: 29px;
	line-height: 18px;
	text-align: center;
}

.zb-tr-tit li.thistab a,
.zb-tr-tit li.thistab a:visited {
	color: #e86656;
}

.zb-tr-tit li.thistab .line {
	background: #e86656;
}


.zb-tr-menu {
	overflow: hidden;
	border: 0 none;
}

.zb-tr-menu ul {
	padding: 8px 0;
	width: 110%;
	height: 22px;
}

.zb-tr-menu li {
	width: 98px;
	font-size: 14px;
}

.zb-tr-menu .btn-data {
	width: 100%;
	height: 29px;
}

.zb-tr-menu .icontr {
	float: left;
	width: 25px;
	height: 21px;
	background: url(../img/icon-tr.png) no-repeat;
}

.zb-tr-menu .itr01 {
	background-position: left 1px;
}

.zb-tr-menu .thistab .itr01 {
	background-position: left -54px;
}

.zb-tr-menu .itr02 {
	background-position: -90px 1px;
}

.zb-tr-menu .thistab .itr02 {
	background-position: -90px -54px;
}

.zb-tr-menu .itr03 {
	background-position: -187px 1px;
}

.zb-tr-menu .thistab .itr03 {
	background-position: -187px -54px;
}

.zb-tr-menu .itr04 {
	background-position: -284px 1px;
}

.zb-tr-menu .thistab .itr04 {
	background-position: -284px -54px;
}

.zb-tr-menu .itr05 {
	background-position: -378px 1px;
}

.zb-tr-menu .thistab .itr05 {
	background-position: -378px -54px;
}

.zb-tr-menu .itr06 {
	background-position: -483px 1px;
}

.zb-tr-menu .thistab .itr06 {
	background-position: -483px -54px;
}

.zb-tr-menu a {
	float: left;
	display: inline;
	height: 22px;
	line-height: 22px;
}

.zb-tr-con {
	overflow: hidden;
	width: 100%;
}

.zb-tr-con ul {
	width: 120%;
}

.zb-tr-con li {
	float: left;
	overflow: hidden;
	margin-right: 8px;
	border: #dcdcdc solid 1px;
	width: 103px;
	height: 193px;
}

.zb-tr-con li img {
	display: block;
	margin: 0 auto;
	height: 193px;
}

.zb-tr-zq {
	width: 100%;
}

.zb-tr-zq img {
	display: block;
	padding-top: 6px;
}

.zb-tr-zb {
	width: 100%;
}

.zb-tr-zb img {
	display: block;
	padding-top: 14px;
}

.zb-tr-zb a {
	position: relative;
	display: block;
}

.zb-tr-zb .pmask {
	display: none;
	width: 203px;
	height: 102px;
}

.zb-tr-zb a:hover .pmask {
	display: block;
}

.bbs,
.gl-rig {
	height: 275px;
}

.bbs_box {
	height: 235px;
}

.gl-rig,
.hb-rig {
	background: #fff;
	overflow: hidden;
	padding: 15px 15px 0;
	width: 260px;
}

.gl-con {
	height: 275px;
}

.gl-con-list {
	width: 560px;
}

.gl-rig-img {
	padding: 12px 0 0;
	overflow: hidden;
	width: 100%;
}

.gl-rig-img img {
	border: #e5e4e5 solid 1px;
}

.gl-rig-tit {
	padding: 8px 0;
	overflow: hidden;
	width: 100%;
}

.gl-rig-tit h3,
.gl-rig-tit p {
	overflow: hidden;
	height: 24px;
	line-height: 18px;
	font-size: 14px;
}

.gl-rig-tit p {
	color: #9a9a9a;
}

.gl-rig-tit p.status {
	font-size: 12px;
}

.gl-rig-tit p.status span {
	padding: 1px 3px;
	color: #fff;
	background: #ea6931;
	border-radius: 3px;
}

.hb-rig {
	height: 215px;
}

.hb-con-wrap {
	width: 100%;
	overflow: hidden;
}

.hb-con ul {
	width: 130%;
}

.hb-con li {
	float: left;
	overflow: hidden;
	padding: 14px 0 0;
	width: 93px;
	height: 28px;
}

.hb-con img {
	width: 75px;
	height: 26px;
	border: #fff solid 1px;
	-webkit-filter: grayscale(100%);
	-webkit-filter: grayscale(1);
	filter: grayscale(100%);
	filter: gray;
}

.hb-con a:hover img {
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: ;
}

.footer {
	width: 100%;
	height: 123px;
	background: url(../img/footer.jpg) center top no-repeat;
}

.school_ul li .block2{
	display: block;
}
.school_box{
	position: absolute;
	width: 588px;
	height: 388px;
	left: 0px;
	top: 0px;
}
.school_wrap{
	position: relative;
	width: 590px;
	height: 390px;
}


.social_box li .block3{
	display: block;
}
.social_box{
	position: absolute;
	width: 290px;
	height: 265px;
	left: 0px;
	top: 0px;
}
.social_active {
	display: block;
}

.gl-con-list .article_list li {
	border-bottom: 1px dotted gainsboro;
}

.slide_box .bbs_box_focus{
	float: left;
	width: 532px;
	overflow: hidden;
}
.bbs_box_focus {
	width: 532px;
	height: 265px;
	overflow: hidden;
	float: left;
	position: relative;
}

.slide_wrap .slide_box {
	padding: 0;
}

.slide_wrap .slide_box .bbs_box_focus{
	float: left;
	width: 532px;
	overflow: hidden;
}
.bbs_box_focus {
	width: 532px;
	height: 265px;
	overflow: hidden;
	float: left;
	position: relative;
}
.bbs_box_focus div {
	position: absolute;
	left: 265px;
	top: 0;
}
.bbs_box_focus .thistab{
	position: absolute;
	left: 0;
	top: 0;
}
